<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  
{% load staticfiles %} 
<head>
    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    /> 
    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    <script
        src="{% static "stravaChimp/d3.js" %}">
    </script>

    <script
        src="{% static "stravaChimp/scripts.js" %}">
    </script>

    <script
        src="{% static "stravaChimp/d3.min.js" %}">
    </script>

    <link rel="stylesheet" href="{% static "stravaChimp/styles.css" %}">

</head>

<body>   

	{% block body_block %}

	{% endblock %}



</body>

</html>