{% extends 'stravaChimp/base.html' %}

{% load staticfiles %}   
	<!--<script src="http://maps.google.com/maps/api/js?sensor=true"></script>  -->
{% block body_block %}

    <ul id="sideNavbar">
      <li class="navbarLi">
          <a id="dashLink" href="{% url 'dashboard' athleteId=athleteId %}">
             <img src="{% static "stravaChimp/bars.png" %}" alt="dash" class='navbarIcon'/>
          </a>
          <p class="navbarItem">Dashboard</p>
      </li>
      <li class="navbarLi">
          <a class = "active" id="pregLink" href="{% url 'run_detail' athleteId=athleteId activityId=531149733 %}">
             <img src="{% static "stravaChimp/preg.png" %}" alt="dash" class='navbarIcon'/>
          </a>
          <p class="navbarItem">Preggers</p>
      </li>
      <li class="navbarLi">
          <a href="{% url 'dashboard' athleteId=athleteId %}">
             <img src="{% static "stravaChimp/account.png" %}" alt="dash" class='navbarIcon'/>
          </a>
          <p class="navbarItem">Torso</p>
      </li>
    </ul>

  <div id="map">
  </div>

  <div id="legendContainer">
  </div>

  <div id="container1">
  </div>

  <div id="containerH">
  </div>

  <div id="containerD">
  </div>

  <div id="container0">
        <a href="{% url 'dashboard' athleteId=athleteId %}">
            <img src="{% static "stravaChimp/rudy.jpg" %}" alt="Picture of rudy" id='dashPic'/>
        </a>
        <!--<img src="{% static "stravaChimp/rudy.jpg" %}" alt="Picture of rudy" id='pic'/>
        <img src="{{ath.profilePic}" alt="Picture of rudy"/>-->
        <div id="introContainerTitle">
            <p id="introTitle"></p>
            <p id="introSubscript"></p>
        </div>

        <div id="introContainerBody">
            <p id="introBody" class="introBody"></p>
        </div>

          <div id="mafContainer">
          </div>

          <div id="effContainer">
          </div>
  </div>

<div id="buttonContainer">
    <button class='hide' id="reset">reset</button>
</div>


<script> // Begining d3 script

//{% block content %}

var navbarActive = "pregLink";
configNavbar();


//var data = JSON.parse('{{ r_json | escapejs }}');
var data = JSON.parse('{{ activity.df | escapejs }}');

var fitline = JSON.parse('{{ fitline_json | escapejs }}');
//{% endblock %}


var name_string = "{{name_string}}";
var desc_string = "Saw some little buddies around mile 13, they ran with me for awhile before we got ambushed by a clan of grizzlies.";
var act_date = "{{act_date}}";
var athName = "{{athName}}";

d3.select("#introTitle").append("text")
    .text(name_string);
d3.select("#introBody").append("text")
    .text(desc_string);
d3.select("#introSubscript").append("text")
    .html(athName+'<br/>'+act_date);
    



////////////////////////////////////////
//
//       hr-time   and    speed-time
////////////////////////////////////////

d3.select("#sideNavbar")
  .on("mouseover", function() {d3.select("#sideNavbar").style("width", 200+'px')})
  .on("mouseout", function() {d3.select("#sideNavbar").style("width", 50+'px')});
// for use in window resizing

function updateHrSpeedTimeSvg() {

    if (isBrushed) {
        timeScale.domain(existingExtent); // updating domain to reflect brush
        console.log("testing")
    };

    d3.select("#hrSpeedTimeSvg").remove();
    makeChart();

    Line.remove();
    LineHr.remove();
    makeLines();
        
    pts1.remove();
    pts2.remove();
    makePts();

    makeBrush();
    addBrush();

    // without this final brush, tooltips on hr-speed-time pts don't come through after
    // resizing window. 

    if (isBrushed) {
        var e = existingExtent;
    } else { 
        var e = oExtent;
    };

    brush.extent(e);     
    svg.select('.brush')
        .call(brush);      
    redrawChart();

    makeToolTip();   
};

window.onresize = updateHrSpeedTimeSvg





// makes the hr-speed-time svg chart box, no pts or lines yet
function makeChart() {
    margin = masterMargin;
    w = d3.select("#container1").node().clientWidth - margin.left - margin.right,
    h = d3.select("#container1").node().clientHeight - margin.bottom - margin.top;

    svg = d3.select("#container1").append("svg")
        .attr("width", w + margin.left + margin.right)
        .attr("height", h + margin.top + margin.bottom)
        .attr("id", 'hrSpeedTimeSvg')
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("text")
        .text("Heart Rate and Speed by Time")
        .attr("class", "chartTitle");


    oExtent = [d3.min(data, function(d) {return d.time}), d3.max(data, function(d) {return d.time})]
    mExtent = [d3.min(data, function(d) {return d.time}), d3.max(data, function(d) {return d.time}) /2] 
        
    // making clipPath
    svg.append("defs").append("clipPath")
        .attr("id", "clip")
      .append("rect")
        //.attr("x", margin.left)
        .attr("width", w)
        .attr("height", h); 
        
        
    // x axis, scale creation (speed-time and hr-time graphs)

    // this is for window resizing. If chart has been brushed, we need to pull
    // in the brush extent (saved by us for this purpose each time before brush is destroyed)
    if (isBrushed) {
        var e = existingExtent;
    } else { 
        var e = oExtent;
    };

    timeScale = d3.scale.linear()
                    .domain(e)
                    .range([0, w]);  
    
    timeAxis = d3.svg.axis()
                .scale(timeScale)
                .outerTickSize(0)
                .orient("bottom");     

    svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + h + ")")
                .call(timeAxis);

    // y axis (hr) axis, scale creation     
    hrScale = d3.scale.linear()
                //.domain([d3.min(data, function(d) {return d.hr}), d3.max(data, function(d) {return d.hr})])
                .domain([45, 190])
                .range([h, 0]);         
      
    hrAxis = d3.svg.axis()
                .scale(hrScale)
                .innerTickSize(-w)
                .outerTickSize(0)
                .orient("left")
                .ticks(10);            
                
    svg.append("g")
        .attr("class", "axis")
        //.attr("transform", "translate("+margin.left+",0)")
        .call(hrAxis);  
        
    // y axis (speed) axis, scale creation
    speedScale = d3.scale.linear()
                //.domain([d3.min(data, function(d) {return d.speeds}), d3.max(data, function(d) {return d.speeds})])
                .domain([0, 12])
                .range([h,0]);  
                          
    speedAxisR = d3.svg.axis()
                .scale(speedScale)
                .innerTickSize(0)
                .outerTickSize(0)
                .orient("right")
                .ticks(7);     
                  
    svg.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate("+w+",0)")
        .call(speedAxisR);
};

makeChart();


/*
w2 = 400  // hr explorer
h2 = 400
pad = 25

var svg2 = d3.select("#container2")
			.append("svg")
			.attr("width", w)
			.attr("height", h);
			
var svg3 = d3.select("#container3")
			.append("svg")
			.attr("width", w2 + margin.left + margin.right)
            .attr("height", h2 + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		
svg2.append("g")
            .attr("class", "x axis")
            //.attr("transform", "translate(" + pad + ",0)")
            .attr("transform", "translate(0," + (h-pad)+ ")")
            .call(timeAxis);  
                        
speedAxis = d3.svg.axis()
            .scale(speedScale)
            .innerTickSize(-w)
            .outerTickSize(0)
            .orient("left")
            .ticks(10); 
                     
svg2.append("g")
    .attr("class", "axis")
    .attr("transform", "translate("+pad+",0)")
    .call(speedAxis);
    

// y axis (hr explorer) axis, scale creation     
hrScale2 = d3.scale.linear()
            .domain([d3.min(data, function(d) {return d.hr})-1, d3.max(data, function(d) {return d.hr})])
            .range([margin.left, w2]);   
                  
hrAxis2 = d3.svg.axis()
            .scale(hrScale2)
            .orient("bottom")
            .ticks(10);            
            
  
// x axis (hr explorer) axis, scale creation
speedScale2 = d3.scale.linear()
            //.domain([d3.min(data, function(d) {return d.speeds}), d3.max(data, function(d) {return d.speeds})])
            .domain([-0.1, 7])
            .range([h2, 0]);
                        
speedAxis2 = d3.svg.axis()
            .scale(speedScale2)
            .orient("left");    
            
svg3.append("g")
    .attr("class", "axis")
    .attr("transform", "translate("+margin.left+",0)")
    .call(speedAxis2);
                  
svg3.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," +h2+ ")")
            .call(hrAxis2);
*/ 






/////////////////////////////////////////////////////////     
// adding brush
// append before pts to allow tooltips to come through
/////////////////////////////////////////////////////////

var isBrushed = false;

// makes a brush
function makeBrush() {
    brush = d3.svg.brush()
        .x(timeScale)
        .on("brush", brushmove)
        .on("brushend", redrawChart);
 };
 makeBrush();

function brushmove() {

    d3.select("#reset")
        .attr("class", "show");

    extent = brush.extent();
    if (extent[1] - extent[0] > 50) {
        d3.selectAll(".point")       // turning pts inside brush red during highlight
            .filter(function (d) {
            if (extent[0] <= d.time && d.time <= extent[1]) {return true}
            })
        .style("fill", "black")
        //.style("opacity", .5); 
        
        
        d3.selectAll(".point")       // preparing to disappear pts outside of brush
            .classed("kill", function (d) {
            if (extent[0] >= d.time || d.time >= extent[1]) {return true}
            })     }
};

function redrawChart() {          // drawing up new graphs, return ptColor

    extent = brush.extent();
    if (extent[1] - extent[0] > 50) {  // only brushing when brush width exceeds xxx
        
        isBrushed = true;
        existingExtent = extent;
        timeScale.domain(extent); // updating domain to reflect brush
        
        /*
        svg.selectAll(".point") // returning original color following highlight
          .data(data)
          .attr("clip-path", "url(#clip)")
          .attr("cx", function(d) { return timeScale(d.time); })
          .style("fill", ptColor);  
          */
     
        ////////////////////// Line update
        Line.remove();
        LineHr.remove();
        makeLines();
        
        pts1.remove();
        pts2.remove();
        makePts();

        // update x axis  
        svg.select('.x.axis').call(timeAxis);
        /*
        // updating pts
        pts1.attr("cx", function(d) { return timeScale(d.time); })
            .attr("cy", function(d) { return hrScale(d.hr); })
            .style("fill", hrPtColor)
            //.style("opacity", ptFillOp)
            .style("stroke-opacity", ptStrOp);
            
        pts2.attr("cx", function(d) { return timeScale(d.time); })
            .attr("cy", function(d) { return speedScale(d.speeds); })
            .style("fill", speedPtColor)
            .style("stroke-opacity", ptStrOp);*/
        
        /*
        // update x axis
        svg2.select('.x.axis').call(timeAxis); 
        
        // HR explorer update
        svg3.selectAll(".point")
            .style("fill", speedPtColor)
            .attr("r", radius);
            
        svg3.selectAll(".kill")  // disappearing pts previously classed "kill"
            .style("fill", "blue")
            .style("opacity", 0.05);  */


        
        ///////////////////// Map update    
        svgM.selectAll(".point")
            .style("fill", function(d) {return colorR(d.hr)});
         
        svgM.selectAll(".kill")
            .style("opacity", 0);  
            
         // UPDATE ZOOM FINALLY WORKS !!! THANK JESUS
        bunch = svgM.selectAll(".point")      //
            .filter(function (d) {
                if (extent[0] <= d.time && d.time <= extent[1]) {return true}
            });     
        
        newMaxN = d3.max(bunch[0], function(d) {return d.__data__.LatLng.lat});
        newMaxE = d3.max(bunch[0], function(d) {return d.__data__.LatLng.lng});
        newMaxS = d3.min(bunch[0], function(d) {return d.__data__.LatLng.lat});
        newMaxW = d3.min(bunch[0], function(d) {return d.__data__.LatLng.lng});
        
        fitAdjustedMapBounds(newMaxN, newMaxE, newMaxS, newMaxW);

        /*
        var nSw = new L.LatLng(newMaxS, newMaxW);
        var nNe = new L.LatLng(newMaxN, newMaxE);
        var nBounds = [nSw, nNe];
        map.fitBounds(nBounds);*/

        ///////////
        // histogram
        
        var newHrs = new Array();
        for (i=0; i<bunch[0].length; i++) {
            newHrs.push(bunch[0][i].__data__.hr)
        };

        svgH.selectAll("#histBars").remove();
        svgH.select("#yAxis").remove();
        makeHistY(newHrs)
        makeHistBars(newHrs);
        
        
        ///////////////////
        // Dash
        

        segDist = (u(d3.max(bunch[0], function(d) {return d.__data__.distCum}) - d3.min(bunch[0], function(d) {return d.__data__.distCum}))).toFixed(2);        
        segTime = (t(d3.max(bunch[0], function(d) {return d.__data__.time}) - d3.min(bunch[0], function(d) {return d.__data__.time}))).toFixed(2);        
        segAvgHr = Math.round(d3.mean(bunch[0], function(d) {return d.__data__.hr}));        
        segAvgSpeed = uMaf((d3.mean(bunch[0], function(d) {return d.__data__.speeds}))).toFixed(2);
        segHrDev = Math.round(d3.deviation(bunch[0], function(d) {return d.__data__.hr}));
        segMaxHr = Math.round(d3.max(bunch[0], function(d) {return d.__data__.hr}));
        segMinHr = Math.round(d3.min(bunch[0], function(d) {return d.__data__.hr}));
        

        var r0 = [segTime, segDist, 80, segAvgSpeed, segAvgHr, segMinHr, segMaxHr, segHrDev]; // values
        var tt0 = ["Time", "Distance", "Load", "Avg Speed", "Avg HR", "Min HR", "Max HR", "HR Dev"];//titles 


        b0.remove();   // removing old "g"   
        var newDashOptions = {
            //'svg':svgD,
            'titles': tt0,
            'values': r0,
            'numRows': 2,
            'units':dashUnits
        };

        makeDash(newDashOptions); // and adding a new one

        makeToolTip();
      
       }; // end if statement
       
       
    d3.selectAll(".brush")      // clearing brush from all graphs
          .call(brush.clear());   
    
};

// adds brush to hr-speed-time svg
function addBrush() {
    svg.append("g")                 // adding brush to svg
        .attr("class", "brush")
        .call(brush)
        .selectAll("rect")
        .attr("height", h)
        .style("opacity", .1);
};
addBrush();

/*
svg2.append("g")                // adding brush to svg2
    .attr("class", "brush")
    .call(brush)
    .selectAll("rect")
    .attr("height", h)
    .style("opacity", .1);*/
    
    

d3.select("#reset")             // Button Resetting to original view
    .on("click", function() {  

        

        brush.extent(oExtent);  // FINALLY IT WORKS       

        svg.select('.brush')
           .call(brush);   

        redrawChart();
        /*
        svg3.selectAll(".point")
            .style("fill", speedPtColor)
            .style("opacity", 1);*/
        svgM.selectAll(".point")
            .style("fill", function(d) {return colorR(d.hr)})
            .style("opacity", 1);

        d3.selectAll(".point")
            .classed("kill", false);

        d3.select("#reset")
            .attr("class", "hide");
    });
  
/*
timeScale.domain(oExtent);   // initializing brush 
redrawChart(); 
*/



///////////////////////////////////////////////////////   
//    LINES  
///////////////////////////////////////////////////////

// which version of speeds to use, smoothed or raw
var speed = "speeds" 
//var speed = "speedsSmoothed2" 

// makes lines for hr-speed-time svg
function makeLines() {
    speedTimeLine = d3.svg.line()  
        .interpolate("basis")
        .x(function(d) { return timeScale(d.time) } )
        .y(function(d) { return speedScale(d[speed]) } );
       
    Line = svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("clip-path", "url(#clip)")
      .attr("d", speedTimeLine)
      .style("fill", "none")
      .style("stroke-width", "1")
      .style("stroke", "white");    

    HrTimeLine = d3.svg.line()  
        .x(function(d) { return timeScale(d.time) } )
        .y(function(d) { return hrScale(d.hr) } );
       
    LineHr = svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("clip-path", "url(#clip)")
      .attr("d", HrTimeLine)
      .style("fill", "none")
      .style("stroke-width", "2")
      .style("stroke", "#d95f02"); 
            };
makeLines();  





///////////////////////////////////////////////////
// points
///////////////////////////////////////////////////

var radius = 2
var ptStrOp = 0
var ptFillOp = 0.8
var mapPtFillOp = 1
var mapPtStrOp = 0.2

var altRadius = function(d) {return altRadScale(d.altDeltas)}

var hrPtColor = function(d) {
    return colorR(d.hr);
};

var speedPtColor = "#66c2a5"
var hrColor = function(d) {return colorR(d.hr)}

var hrExColor = function(d) {return exColor(d.speedDelta3Abs)}


var exColor = d3.scale.linear()
    //.domain([d3.min(data, function(d) {return d.speedDelta3Abs}), 0, d3.max(data, function(d) {return d.speedDelta3Abs})])  
    .domain([-3, 0, 3]) 
    .range(['#66c2a5','#fc8d62','#8da0cb']);


// set color scale here
var color = d3.scale.linear()
    .domain([d3.min(data, function(d) {return d.speedDelta3Abs}), 0, d3.max(data, function(d) {return d.speedDelta3Abs})])
    .range(["red", "yellow", "green"]);
    

// radius acceleration scale
var altRadScale = d3.scale.linear()
    .domain([d3.min(data, function(d) {return d.altDeltas}),0, d3.max(data, function(d) {return d.altDeltas})]) 
    .range([1,4,8]);  


         
// makes points for hr-speed-time svg
 function makePts() {  
        // making the hr points here
    pts1 = svg.selectAll(".point")
        .data(data)
        .enter().append("circle")
        .attr("clip-path", "url(#clip)")
        .attr("class", "point")
        .attr("clip-path", "url(#clip)")
        .attr("r", radius)
        .attr("cx", function(d) { return timeScale(d.time); })
        .attr("cy", function(d) { return hrScale(d.hr); })
        .style("fill", hrPtColor)
        .style("opacity", ptFillOp)
        .style("stroke-opacity", ptStrOp);

        // making the speed points here
    pts2 = svg.selectAll(".point2")
        .data(data)
        .enter().append("circle")
        .attr("class", "point")
        .attr("class", "speedPt")
        .attr("clip-path", "url(#clip)")
        .attr("r", radius)
        .attr("cx", function(d) { return timeScale(d.time); })
        .attr("cy", function(d) { return speedScale(d[speed]); })
        .style("fill", speedPtColor)
        .style("stroke-opacity", ptStrOp);
};
makePts();
  
 /* 
// making the hr speed explorer points 
pts3 = svg3.selectAll(".point")
    .data(data)
  .enter().append("circle")
    .attr("class", "point")
    //.attr("clip-path", "url(#clip)")
    .attr("r", altRadius)
    .attr("cy", function(d) { return speedScale2(d.speeds); })
    .attr("cx", function(d) { return hrScale2(d.hr); })
    .style("fill", hrExColor)  
  
              
// making fitline

fl = d3.svg.line()  
    .x(function(d) { return hrScale2(d.hr) } )
    .y(function(d) { return speedScale2(d.avgSpeed) } );
   
fitline = svg3.append("path")
  .datum(fitline)
  .attr("class", "line")
  //.attr("clip-path", "url(#clip)")
  .attr("d", fl)
  .style("fill", "none")
  .style("stroke-width", "2")
  .style("stroke", "#252525");*/



/////////////////////////////////////////////////////
// tooltip
// on mouseover syncing highlights and adding tooltip

function makeToolTip() {
    d3.selectAll(".point")
        .on("mouseover", function(d) {
            thisTime = d.time

            d3.selectAll(".point")
            .filter(function(d) {
                if (d.time ==thisTime) {return true}
                })
            .classed("highlight", true)
            .transition()
            .duration(100)
            .attr("r", 10);
            
            var x = d3.event.pageX;
            var y = d3.event.pageY;
            text = 'altD: '+d.altDeltas+' speed: '+d.speeds+' hr: '+d.hr+' del3: '+d.speedDelta3Abs+' cadence: '+d.cadence

            d3.select("#tooltip")
    			.style("left", x + "px")
    			.style("top", y + "px")
    			.style("opacity", 1)
    			.text(text); 
        })
                    
        .on("mouseout", function() {
                svg.selectAll(".point")
                .classed("highlight", false)
                .transition()
                .duration(100)
                .attr("r", radius);
                
                svg.selectAll(".point2")
                .classed("highlight", false)
                .transition()
                .duration(100)
                .attr("r", radius);
                
                /*
                svg2.selectAll(".point")
                .classed("highlight", false)
                .style("fill", ptColor)
                .transition()
                .duration(100)
                .attr("r", 4);*/
                
                svgM.selectAll(".point")
                .classed("highlight", false)
                .style("fill", function(d) {return colorR(d.hr)})
                .transition()
                .duration(100)
                .attr("r", getMapPtRadius);
                
                /*
                svg3.selectAll(".point")
                .classed("highlight", false)
                .style("fill", function(d) {return speedPtColor})
                .transition()
                .duration(100)
                .attr("r", radius);*/
                
                d3.select("#tooltip")
                    .style("opacity", 0);
        });
};     


 





//////////////////////////////////////////////////////////////////////
//
//     Map
//
//////////////////////////////////////////////////////////////////////


var run = data;
	
var map = L.map('map', {
    zoomControl: false
}).setView([38.91487,-77.037434], 13);

var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 18,
    accessToken: 'pk.eyJ1IjoicmdpbG1hbiIsImEiOiJjaXEwOHA0bGUwMDEzZmhubnFxajN5bTNsIn0.HsYHnwWso7jRhf1yPTUTxg',
    id: 'rgilman.0hajpfj3'
    }).addTo(map);
	
/*
var zoomLevel = [12,13,14,15,16,17,18];
var metersPerPixel = [38.187,19.093,9.547,4.773,2.387,1.193,0.596];
var mapScale = d3.scale.linear()
                .domain(zoomLevel)
                .range(metersPerPixel);
var currentLat = maxN;
var degreesLatPerMeter = 1.0 / 111111.0 ; // moving North South
var degreesLonPerMeter = 1.0 / (111111.0*Math.cos(currentLat)); // moving East West
var ww = 200;
var extendThisManyMetersSouth = ww * mapScale(map.getZoom());
var extendThisManyDegreesLatSouth = extendThisManyMetersSouth * degreesLatPerMeter;*/

var windowWidth = d3.select("#map").node().clientWidth;
var windowHeight = d3.select("#map").node().clientHeight;



// height of speed-hr-time
var rH = 200;


// finding bounds
var maxN = d3.max(run, function(d) {return d.latlng[0]});
var maxE = d3.max(run, function(d) {return d.latlng[1]});
var maxS = d3.min(run, function(d) {return d.latlng[0]});
var maxW = d3.min(run, function(d) {return d.latlng[1]});

// takes in unadjusted latlng corner bounds and adjusts them to accomodate other components
// then fits the  map to those bounds
function fitAdjustedMapBounds(maxN, maxE, maxS, maxW) {
    var eWDist = maxW - maxE;
    var nSDist = maxN - maxS;

    // add this much to map bounds to accomodate other components
    var addE = (cW / (windowWidth - cW)) * eWDist;
    var addS = (rH / (windowHeight - rH)) * nSDist;

    var sw = new L.LatLng(maxS - addS, maxW);
    var ne = new L.LatLng( maxN, maxE + addE); // these change based on where other elements are placed
    var bounds = [sw, ne];

    map.fitBounds(bounds);	
}

fitAdjustedMapBounds(maxN, maxE, maxS, maxW);


/* Initialize the SVG layer */
map._initPathRoot()    

/* We simply pick up the SVG from the map object */
var svgM = d3.select("#map").select("svg"),
    g = svgM.append("g");

/* Add a LatLng object to each item in the dataset */
run.forEach(function(d) {
    d.LatLng = new L.LatLng(d.latlng[0],
						    d.latlng[1])
})

//

var getMapPtRadius = function(d) {
    var z = map.getZoom();
    
    var zScale = d3.scale.linear()
                .domain([0,12,15,18]) 
                .range([1,1,3,10]);

    return zScale(z);
}

var feature = g.selectAll("circle")
    .data(run)
    .enter().append("circle")
    .attr("class", "point")
    .style("stroke", "black")  
    .style("opacity", mapPtFillOp) 
    .style("stroke-opacity", mapPtStrOp) 
    .style("fill", function(d) {return colorR(d.hr)})
    .attr("r", getMapPtRadius);  


/*
feature.filter(function(d) {
        if (d.hr > 150) {return true}
            })
            .attr("r", 20)
            .remove(); */

map.on("viewreset", updateMap);
updateMap();

function updateMap() {
    z = map.getZoom();

    feature.attr("r", getMapPtRadius);  

    feature.attr("transform", function(d) { 
    	    return "translate("+ 
    		    map.latLngToLayerPoint(d.LatLng).x +","+ 
    		    map.latLngToLayerPoint(d.LatLng).y +")";
    	    }
    )
};





makeToolTip();




/////////////////////////////////////////////////////
//
//        Dash
//
/////////////////////////////////////////////////////

/*
var dashMarg = {top: 0, right:10, bottom:0, left:10},
    wD = d3.select("#containerD").node().clientWidth,
    hD = d3.select("#containerD").node().clientHeight,

    svgD = d3.select("#containerD")
                .append("svg")
                .attr("width", wD)
                .attr("height", hD);*/


var segDist = (u(d3.max(run, function(d) {return d.distCum}) - d3.min(run, function(d) {return d.distCum}))).toFixed(2);   
var segTime = (t(d3.max(run, function(d) {return d.time}) - d3.min(run, function(d) {return d.time}))).toFixed(2);
var segAvgHr = Math.round(d3.mean(run, function(d) {return d.hr}));
var segAvgSpeed = (uMaf(d3.mean(run, function(d) {return d.speeds}))).toFixed(2);
var segHrDev = Math.round(d3.deviation(run, function(d) {return d.hr}));
var segMaxHr = Math.round(d3.max(run, function(d) {return d.hr}));
var segMinHr = Math.round(d3.min(run, function(d) {return d.hr}));

// these array will be broken down into rows and columns reading left to right, top to bottom
var r0 = [segTime, segDist, 80, segAvgSpeed, segAvgHr, segMinHr, segMaxHr, segHrDev]; // values
var tt0 = ["Time", "Distance", "Load", "Avg Speed", "Avg HR", "Min HR", "Max HR", "HR Dev"];//titles
var dashUnits = ["hours", "miles", "real miles", speedMeasure, "beats/min", "beats/min", "beats/min", "beats"];

var dashOptions = {
    //'svg':svgD,
    'titles': tt0,
    'values': r0,
    'numRows': 2,
    'units':dashUnits
};

makeDashChart();
makeDash(dashOptions);





/////////////////////////////////////////////////////////////
// histogram
//
/////////////////////////////////////////////////////////////



var hrs = new Array();
for (i=0; i<data.length; i++) {
    hrs.push(data[i].hr)
};

var histOptions = {
    'dom': "#containerH",
    'margin': histMargin,
    'w': cW,    // pass in raw dimensions. do not subtract margins at this stage
    'h': d3.select("#containerH").node().clientHeight,
    'numBins': 40,
    'values': hrs
};

makeHistChart(histOptions);

makeHistBars(hrs);






////////////////////////////////////////////////////////////////////////
//
//          adding maf and efficiency scores
////////////////////////////////////////////////////////////////////////

var currentMaf = 5.0,
   mafDash = JSON.parse('{{ ath.mafLastFive | escapejs }}'),
   wM = d3.select("#mafContainer").node().clientWidth,
   hM = d3.select("#mafContainer").node().clientHeight,
   effGrade = "A-";

var mafPanelOptions = {
    'dom':"#mafContainer", 
    'title':"maf", 
    "body":currentMaf, 
    'w':wM, 
    'h':hM, 
    'c':"Large",
    'id': "Maf"
};
makeDashPanel(mafPanelOptions);

var mafDashLineOptions = {
    'svg':d3.select("#dashSvgMaf"),
    'w':wM,
    'h':hM,
    'pad':20,
    'df':mafDash,
    'xcol':'date',
    'ycol':'mafScore'
};
appendDashPanelLine(mafDashLineOptions);

var effPanelOptions = {
    'dom':"#effContainer", 
    'title':"eff", 
    "body":effGrade, 
    'w':wM, 
    'h':hM, 
    'c':"Large",
    'id': "Eff"
};
makeDashPanel(effPanelOptions);

/*
var mafDashLineOptions = {
    'svg':d3.select("#dashSvgEff"),
    'w':wM,
    'h':hM,
    'pad':10,
    'df':mafDash,
    'xcol':'date',
    'ycol':'mafScore'
};
appendDashPanelLine(mafDashLineOptions);*/



////////////////////////////////////////////////////////////////////////
// adding legend
//
////////////////////////////////////////////////////////////////////////

addLegend();






/*    GOOGLE MAP ATTEMPT. CAN"T LINK UP WELL TO OTHER DATA
var overlay;
var map;  

function initMap() {
    // Create the Google Map…
    map = new google.maps.Map(d3.select("#map").node(), {
      //zoom: 5,
      //center: new google.maps.LatLng(38.915605,-77.039894),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    // finding bounds
    var maxN = d3.max(data, function(d) {return d.latlng[0]});
    var maxE = d3.max(data, function(d) {return d.latlng[1]});
    var maxS = d3.min(data, function(d) {return d.latlng[0]});
    var maxW = d3.min(data, function(d) {return d.latlng[1]});
    var sw = new google.maps.LatLng(maxS, maxW);
    var ne = new google.maps.LatLng( maxN, maxE);
    var bounds = new google.maps.LatLngBounds(sw, ne);

    map.fitBounds(bounds);

    var colorR = d3.scale.linear()  // color scale
        .domain([80, 190])
        .range(['blue','red']);
        
    // Load the station data. When the data comes back, create an overlay.
    overlay = new google.maps.OverlayView();
    // Add the container when the overlay is added to the map.
    overlay.onAdd = function() {
        var layer = d3.select(this.getPanes().overlayLayer).append("div")
            .attr("class", "stations");
        // Draw each marker as a separate SVG element.
        // We could use a single SVG, but what size would it have?
        overlay.draw = function() {
          var projection = this.getProjection(),
              padding = 10;
              
          var marker = layer.selectAll("svg")
              .data(d3.entries(data))
              .each(transform) // update existing markers
            .enter().append("svg")
              .each(transform)
              .attr("class", "point");
              
          // if brush hasn't been used
          if ((extent[1]-extent[0]) == 0) {
          marker.append("circle")    // keep these r and fill values synced with pts above
              .attr("r", 0)
              //.attr("r", function(d) { return d.value.altDeltas +4 }) // need 'value'
              .attr("cx", padding)
              .attr("cy", padding)
              .style("stroke-opacity", ptStrOp)  // dot opacity
              .style("fill", function(d) {return colorR(d.value.hr)}) // need 'value'
              .filter(function (d) {
                if (oExtent[0] <= d.value.time && d.value.time <= oExtent[1]) {return true}
                })
                    .attr('r', 5)
                        };       
                        
          // if brush HAS been used            
          if ((extent[1]-extent[0]) > 0) {
          marker.append("circle")    // keep these r and fill values synced with pts above
              .attr("r", 0)
              //.attr("r", function(d) { return d.value.altDeltas +4 }) // need 'value'
              .attr("cx", padding)
              .attr("cy", padding)
              .style("stroke-opacity", ptStrOp)  // dot opacity
              .style("fill", function(d) {return colorR(d.value.hr)}) // need 'value'
              .filter(function (d) {
                if (extent[0] <= d.value.time && d.value.time <= extent[1]) {return true}
                })
                    .attr('r', 5)  }; 
                                          
          // Add a label.
          marker.append("text")
              .attr("x", padding + 7)
              .attr("y", padding)
              .attr("dy", ".31em");
              //.text(function(d) { return d.value.hr; });
          function transform(d) {
            d = new google.maps.LatLng(d.value.latlng[0], d.value.latlng[1]);
            d = projection.fromLatLngToDivPixel(d);
            return d3.select(this)
                .style("left", (d.x - padding) + "px")
                .style("top", (d.y - padding) + "px");
                 }
        }; // overlay draw
    }; // overlay on add
    addOverlay();
    }; // init map

// Bind our overlay to the map
function addOverlay() { overlay.setMap(map) };
function removeOverlay() { overlay.setMap(null) };

initMap();

*/

</script>
	
	


{% endblock %}



